mysql_bin=/usr/local/mysql-5.6.23-osx10.8-x86_64/bin

db_name=stock_stat
db_user=quant
db_pass=2and2is5

db_ddl=stock_stack_db_ddl.sql
rrsp_csv=transactionHistory_all_all_all.csv

cash_symbol=$cash
fee_symbol=$fee
wash_symbol=$wash
// ['BUY' 'CASH DIV' 'CASHINLIEU' 'CNCL SELL' 'Dividend' 'EXCHADJ' 'Exchange', 'FEE' 'Funds Transfer' 'GST' 'HST' 'MERGER' 'NAMECHG' 'REVERSE' 'SELL', 'STOCKDIV' 'TGL' 'TRANSFER' 'Transfer In' 'Trust Dividend']
// CASH DIV = Dividend = STOCKDIV = Trust Dividend
dividend_type=DIV
wash_type=WASH
deposit_type=INI
cancel_sell_type=*SELL
merger_type=MRG

